@page "/clears"
@rendermode InteractiveServer

@using DokkanDaily.Components.Shared
@using DokkanDaily.Constants
@using DokkanDaily.Helpers
@using DokkanDaily.Models
@using DokkanDaily.Models.Dto
@using DokkanDaily.Services

@inject IAzureBlobService BlobSvc
@inject IJSRuntime jsRuntime
@inject IRngHelperService RngSvc

<PageTitle>Dokkandle!</PageTitle>

<style>
    body {
        background: url('images/misc/wallpaper.jpg') fixed center no-repeat;
        background-size: cover;
        text-align: center;
        margin: 0 auto;
        overflow: hidden;
    }
</style>
<div style="height:100vh;">

    <Logo dailyType="@RngSvc.GetRandomDailyType().ToString()" />

    @if (warningMessage.Length > 0)
    {
        <div class="alert alert-warning">
            <strong>Warning!</strong> @warningMessage.
        </div>
    }
    <div class="container clear-box text-center">
        <div style="padding-top:2vh;" class="row">
            <div>
                <label>
                    <InputFile class="form-control" disabled="@fileLoading" style="width:100%;font-family: 'Helvetica', sans-serif;" OnChange="@OnInputFileChange" single />
                </label>
                @if (fileLoading)
                {
                    <i class="fa fa-refresh"></i> <span>Loading...</span>
                }
            </div>
            <div style="padding-top:1vh;">
                <button type="button" disabled="@fileLoading" class="btn btn-secondary btn-md" @onclick="OnUploadSubmit">
                    Upload File
                </button>
            </div>
        </div>
        @if (displayMessage.Length > 0)
        {
            <div class="alert alert-success">
                <strong>Success!</strong> @displayMessage.
            </div>
        }
        <br />
        <div>
            @if (fileUploadViewModels.Count > 0)
            {
                @foreach (var attachment in fileUploadViewModels)
                {
                    <div class="card">
                        <img style="object-fit: cover;" src="@GetImgPath(attachment)" @onclick="() => OnFileViewClick(attachment)" />
@*                         @if (@attachment.Tags.GetTagValueOrDefault(DDConstants.USER_NAME_TAG) != null)
                        {
                            <div class="container">
                                <h4><b>@attachment.Tags.GetTagValueOrDefault(DDConstants.USER_NAME_TAG)</b></h4>
                            </div>
                        } *@
                    </div>
                }
            }
            else
            {
                <p style="margin-top:25vh;">No clears yet!</p>
            }
        </div>
    </div>
</div>

<Footer />

@code {
    private string warningMessage = "";
    private string displayMessage = "";
    private List<IBrowserFile> loadedFiles = new();
    private bool fileLoading;
    private string Message = "No file(s) selected";
    private IReadOnlyList<IBrowserFile> selectedFiles = [];
    private List<FileUploadViewModel> fileUploadViewModels = [];
    private const string defaultWarning = "Something went wrong! Please try again.";
    private Challenge challengeModel;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            challengeModel = RngSvc.GetDailyChallenge();

            fileUploadViewModels = await Task.Run(async () =>
            {
                List<FileUploadViewModel> ret = [];
                string tag = DDHelper.GetUtcNowDateTag();
                var result = await BlobSvc.GetFilesForTag(tag);
                foreach (var f in result)
                {
                    var tags = await f.GetTagsAsync();
                    var metadata = await f.GetPropertiesAsync();
                    ret.Add(new()
                    {
                        FileName = f.Name,
                        FileStorageUrl = f.Uri.ToString(),
                        Tags = tags.Value.Tags.Concat(metadata.Value.Metadata).ToDictionary()
                    });
                }
                return ret;
            }).ConfigureAwait(false);
        }
        catch { }
    }

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();
        Message = $"{selectedFiles.Count} file(s) selected";
        this.StateHasChanged();
    }
    private async void OnUploadSubmit()
    {
        fileLoading = true;

        foreach (var file in selectedFiles)
        {
            try
            {
                var blobUrl = await BlobSvc.UploadToAzureAsync(file.Name, file.ContentType, file, challengeModel);
                if (blobUrl != null)
                {
                    FileUploadViewModel fileUploadViewModel = new FileUploadViewModel()
                    {
                        FileName = file.Name,
                        FileStorageUrl = blobUrl,
                        ContentType = file.ContentType
                    };

                    fileUploadViewModels.Add(fileUploadViewModel);
                    Message = file.Name + " Uploaded!!";
                }
                else
                    warningMessage = defaultWarning;
            }
            catch (Exception ex)
            {
                warningMessage = ex.Message;
            }
        }

        fileLoading = false;

        this.StateHasChanged();
    }

    private string GetImgPath(FileUploadViewModel attachment)
    {
        var sasToken = BlobSvc.GetBlobSASTOkenByFile(attachment.FileName);

        return attachment?.FileStorageUrl + "?" + sasToken;
    }

    private async void OnFileViewClick(FileUploadViewModel attachment)
    {
        try
        {
            var sasToken = BlobSvc.GetBlobSASTOkenByFile(attachment.FileName);
            if (sasToken != null)
            {
                string fileUrl = attachment.FileStorageUrl + "?" + sasToken;
                await jsRuntime.InvokeVoidAsync("open", fileUrl, "_blank");
            }

        }
        catch (Exception ex)
        {
            warningMessage = ex.Message;
        }

        this.StateHasChanged();
    }
}