@page "/daily"
@rendermode InteractiveServer

@using DokkanDaily.Components.Shared
@using DokkanDaily.Constants
@using DokkanDaily.Helpers
@using DokkanDaily.Models;
@using DokkanDaily.Models.ViewModel
@using DokkanDaily.Models.Enums
@using DokkanDaily.Services.Interfaces

@inject IRngHelperService RngSvc
@inject IAzureBlobService BlobSvc
@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager

<PageTitle>Dokkandle!</PageTitle>

<style>
    body {
    background: url('images/misc/wallpaper.jpg') fixed center no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
    }
</style>

<Logo dailyType="@TodaysChallenge?.DailyType.ToString()" />

@if (Executing || TodaysChallenge is null)
{
    <BusySpinner />
}
else
{
    <div class="challenge-box">
        <div style="margin: 0 1em 0 1em">
            @if (TodaysChallenge.DailyType == DailyType.LinkSkill)
            {
                <p class="challenge-text"><b>Challenge!</b> defeat <b>@TodaysChallenge.TodaysEvent.Name</b>, <b>Stage @TodaysChallenge.TodaysEvent.StageNumber</b> using only units that have the Link Skill <div class="dokkan-link-wrapper"><div class="dokkan-link"><div class="text">@TodaysChallenge.LinkSkill.Name</div></div></div><div class="challenge-text friend-text">(Friend Unit excluded)</div></p>
            }
            @if (TodaysChallenge.DailyType == DailyType.Category)
            {
                <p class="challenge-text"><b>Challenge!</b> defeat <b>@TodaysChallenge.TodaysEvent.Name</b>, <b>Stage @TodaysChallenge.TodaysEvent.StageNumber</b> using only units belonging to:<br /><img src="@TodaysChallenge.Category.ImageURL" /><div class="challenge-text friend-text">(Friend Unit excluded)</div></p>
            }
            @if (TodaysChallenge.DailyType == DailyType.Character)
            {
                <p class="challenge-text"><b>Challenge!</b> build a team using 
                    <span class="card-art">
                        <img class="card-thumb-bg" src="@BgUrl" />
                        <img class="card-thumb-character" src="@TodaysChallenge.TodaysUnit.ImageUrl" />
                        <img class="card-rarity" src="@RarityUrl" />
                        <img class="card-element" src="@TypeUrl" />
                        @if (TodaysChallenge.TodaysUnit.Rarity == "LR")
                        {
                            <img class="card-lightning" src="images/misc/LR_lightning.png"/>
                        }
                    </span> <b style="color:@typeColor">[@TodaysChallenge.Leader.Title] @TodaysChallenge.Leader.Name</b> as the Leader and defeat <b>@TodaysChallenge.TodaysEvent.Name</b>, <b>Stage @TodaysChallenge.TodaysEvent.StageNumber</b>!<div class="challenge-text friend-text">(Only one required - you may use a Friend Unit)</div></p>
            }
            @if (TodaysChallenge.TodaysEvent != null && TodaysChallenge.TodaysEvent.WallpaperImagePath != null)
            {
                <p>
                    <img class="event-banner" src="@TodaysChallenge.TodaysEvent.BannerImagePath" />
                </p>
            }
            <div class="clear-box">
                <p>@dailyFileCount clear(s) uploaded today</p>
                <button type="button" class="btn btn-secondary btn-lg" @onclick=OnClick>
                    Go to clears
                </button>
            </div>
            <p>Time until challenge resets: @TimeUntil</p>
        </div>
    </div>

    <Footer />
}

@code {
    Challenge TodaysChallenge;

    bool Executing { get; set; }

    string typeColor => DokkanConstants.TypeHexMap[TodaysChallenge.TodaysUnit.DokkanType];

    int dailyFileCount = 0;

    int hoursToReset => 24 - DateTime.UtcNow.Hour;

    string TimeUntil => hoursToReset > 1 ? $"{hoursToReset} hours" : $"{59 - DateTime.UtcNow.Minute} minute(s)"; 

    string BgUrl => $"images/misc/card_bg_{TodaysChallenge?.TodaysUnit?.Type}.png";

    string RarityUrl => $"images/misc/{TodaysChallenge?.TodaysUnit?.Rarity}.png";

    string TypeUrl => $"images/misc/{TodaysChallenge?.TodaysUnit?.Class}_{TodaysChallenge?.TodaysUnit?.Type}.png";

    string EzaIconUrl => "";

    protected override async Task OnInitializedAsync()
    {
        TodaysChallenge = await RngSvc.GetDailyChallenge();

        try
        {
            dailyFileCount = await BlobSvc
                .GetFileCountForTag(DokkanDailyHelper.GetUtcNowDateTag())
                .ConfigureAwait(false);
        }
        catch { }

        base.OnInitialized();
    }

    void OnClick() => NavManager.NavigateTo("/clears", false);
}
